<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>

    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Team'],
          {% for country in geo %}
            {% raw country %},
          {% end %}

        ]);

        var options = {
          sizeAxis: { minValue: 0, maxValue: 100 },
          region: '150', // Western Europe
          colorAxis: {colors: ['#e7711c', '#4374e0']} // orange to blue
        };

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        google.visualization.events.addListener(chart, 'select', function() {
          var selectedItem = chart.getSelection()[0];
          alert(data.getValue(selectedItem.row, 0));
        });
      };
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="selected"></div>
  </body>
</html>
