<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CometPuns Lobby</title>

        <link rel="stylesheet" href="{{ static_url('semantic/semantic.min.css') }}" type="text/css"/>
        <script src="{{ static_url('js/jquery-1.12.0.min.js') }}"></script>
        <script src="{{ static_url('semantic/semantic.min.js') }}"></script>
    </head>
    <body>
        
        <div class="ui three item menu">
            <a class="active item">CometPuns</a>
            <a class="item">Profile</a>
            <a class="item">About</a>
        </div>
        <div class="ui four column grid">
            <div class="row">
                <div class="four wide column">
                {{ escape(lfg) }}
                </div>
                <div class="two wide column">
                    {% if len(info) > 0 %}
                    <div class="alert alert-info">{{ escape(info) }}</div>
                    {% end %}
                </div>
                <div class="four wide column">
                    <h3>Comments</h3>
                    <h3 class="ui top attached header">Top Attached</h3>
                    <div class="ui attached segment" id="chat" style="max-height: 250px; overflow-y: auto;">
                    </div>

                    <div class="ui input">
                        <input id="chat-input" name="message" type="text">
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{{ static_url('js/cometpuns.js') }}"></script>
    </body>
</html>
