<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crisk Lobby</title>

    <link rel="stylesheet" href='{{ static_url("css/bootstrap.min.css") }}' type="text/css"/>
    <link rel="stylesheet" href='{{ static_url("css/chat.css") }}' type="text/css"/>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>


  <body>
    <div class="container-fluid">
      <br>
      <div class="row">
        <div class="col-md-7">
            <form method="post" action="/">
            <button class="btn btn-default" type="submit">Add to lfg</button>
            </form>
        </div>
        <div class="col-md-5">
          {% if len(info) > 0 %}
            <div class="alert alert-info">{{ escape(info) }}</div>
          {% end %}
          <h1 class="page-header">Dashboard</h1>
  <!-- Start of Chatbox -->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Chat
              </div>
              <div class="panel-body">
                <ul class="chat" >

                </ul>
              </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="chat-input" name="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />

                    </div>
                </div>
              </div>


  <!-- End of Chatbox -->
        </div>
      </div>
    </div>
    <script src="{{ static_url('js_engine/chat.js') }}"></script>
  </body>
</html>
